@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#05070f;
  color:white;
  font-family:inherit;
  overflow-x:hidden;
}

a{
  color:inherit;
  text-decoration:none;
}

button{
  font-family:inherit;
}

img{
  max-width:100%;
  display:block;
}
